.cnt{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.experience_main{
  display: flex;
  align-items: center;
  justify-content: center;
    width: 473px;
    margin: 50px 0;
    padding-bottom: 110px;
    padding-right: 30px;
background: #FFFFFF;
box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

.email{
  border: none;
}
.center {
  border-radius: 10px;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  width: 400px;
  height: 30px;
  margin-bottom: 50px;
   margin-top: 130px;
}
.center .inputbox1{
    margin-bottom: 280px;
    margin-top: 75px;
}
.center .inputbox2{
    margin-bottom: 0px;
    margin-top: 30px;
}
.center .inputbox3{
    margin-bottom: 0px;
    margin-top: 30px;
}
.center .inputbox4{
    margin-bottom: 0px;
    margin-top: 30px;
}
.center .inputbox input {
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 0%;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.center .inputbox:last-child {
  margin-bottom: 0;
}
.center .inputbox span {
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.1s;
  font-family: sans-serif;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span {
  transform: translateX(-10px) translateY(-20px);
  font-size: 0.9em;
  color: #0F62FE;
  }
.center .inputbox [type="button"] {
  width: 50%;
  background: 
  #0B69FF;
  color: #fff;
  border: #fff;
}
.center .inputbox:hover [type="button"] {
  background: linear-gradient(45deg, greenyellow, dodgerblue);
}
