.foot{
    height: 300px;
    display: flex;
    background-color: #12184c;
    color: white;
}
.foot .part1{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.foot .part1 img{
    width: 250px;
    margin: 25px ;
}
.foot .part2 ul{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}
.foot .part2 li{
    list-style-type: none;
    margin: 75px 30px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s;
  box-shadow: inset 0 0 0 0 #bbbec8;
  transition: ease-out 0.3s;
}
.foot .part2 li:hover{
    box-shadow: inset 200px 0 0 0 #fbfbfc;
  color: rgb(9, 9, 9);
  cursor: pointer;
}