*{
    margin: 0;
    padding: 0;
}
.head{
    font-family: 'IBM Plex Sans';
font-style: normal;
    margin-top: 4px;
    width: 100vw;
    height: 580px;
    background: url('./home-bg.png') no-repeat center/cover;
    color: white;
}
.head .content {
    padding:40px 90px;
    
}
.head .large{
    font-size: 64px;
    font-weight: 600;
}
.head .small{
    margin-top: 30px;
    font-size: 48px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
}
.head .small .ylw{
    color: #EEB73F;
}
.head .create{
    width: 143.8px;
height: 40px;
border-radius: 5px ;
border: 4px solid #EEB73F;
background-color: #EEB73F;
font-weight: 700;
font-size: 15px;
margin-top: 220px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .black{
    background-color: black;
    margin: 150px 0;
    width: 80vw;
    height: 420px;
}
.container .black .line{
    color: white;
    text-align: center;
    margin: 40px 0;
    font-weight: 600;
font-size: 24px;
}
.container .black .mnc{
    display: flex;
    margin: 30px 70px;
    justify-content: center;
    flex-direction: column;
}
.container .black .mnc img{
    width: 70vw;
    margin-bottom: 40px;
}
.container .black-2{
    background-color: black;
    margin: 150px 0;
    width: 80vw;
    height: 910px;
}
.container .black-2 .line-1{
    color: #FFAF00;
    text-align: center;
    margin-top: 40px;
    font-weight: 700;
font-size: 14px;
letter-spacing: 4px;
}
.container .black-2 .line-2{
    color: white;
    margin: 20px 0;
    text-align: center;
    font-weight: 600;
font-size: 30px;
}
.container .black-2 .frame{
    width: 60vw;
    height: 660px;
    border: 5px solid #EEEEEE;
border-radius: 24px;
margin: 70px 140px;
}
.container .black-2 .frame img{
    width: 33vw;
    margin: 0 215px;
}