.nav{
    position: sticky;
width: 100vw;
height: 80px;
left: 0px;
top: 0px;
display: flex;
align-items: center;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
z-index: 999;
/* margin-bottom: 100px; */
}
.nav .logo{
    margin: 0 100px;
}
.nav .logo img{
    width: 200px;
}
.nav ul{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
}
.nav ul li{
    list-style-type: none;
    margin: 0 5px;
    text-decoration: none;
}
.nav ul li a{
    text-decoration: none;
    color: black;
} 
.nav .btns{
    width: 20%;
    margin-right: 50px;
}
.nav .btns .login{
    font-size: 16px;
    background-color: #FFD233;
    width: 89.88px;
height: 32px;
border-radius: 5px ;
border: 4px solid #FFD233;
}
.nav .btns .sign{
    font-size: 16px;
    background-color: #ffffff;
    width: 89.88px;
height: 32px;
border-radius: 5px ;
}
._nav{
    text-decoration: none;
    color: black;
}