body{
    background-color: #E7EBEE;
}
.main{
display: flex;
flex-direction: column;
align-items: center;
background: #ffffff;
box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
width: 550px;
height: 630px;
padding: 40px;
   
}
.inputbox5{
    margin-top: 10px;
}
.location_personal{
    display: flex;
    
}
.location_detail{
    margin-top: 40px;
}
.center .x{
    margin: 10px;
    width: 200px;
    
}
